<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:redission="http://redisson.org/schema/redisson"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://redisson.org/schema/redisson http://redisson.org/schema/redisson/redisson.xsd">
    <import resource="classpath:mybatis-spring.xml"/>
    <import resource="classpath:spring-shiro.xml"/>
    <context:component-scan
            base-package="com.f.services, com.f.aspectj, com.f.core, com.f.helper"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <redission:client>
        <redission:single-server address="redis://127.0.0.1:6379"/>
    </redission:client>
</beans>