<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="autoMappingBehavior" value="NONE"/>
        <setting name="logImpl" value="LOG4J2"/>
        <setting name="aggressiveLazyLoading" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="defaultStatementTimeout" value="25"/>
    </settings>
    <typeAliases>
        <package name="com.f.core.pojo"/>
    </typeAliases>
</configuration>