<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f.dao.EmployeeDao">
    <select id="getAllEmployee" resultMap="getUserByConditionResult">
        select * from employee
    </select>

    <resultMap type="Employee" id="getUserByConditionResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result column="passwd" property="passwd"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getUserByCondition" resultMap="getUserByConditionResult" parameterType="Map">
        select id, name, department_id, oa_position_id, created_at, updated_at, passwd from employee e where 1 = 1
        <choose>
            <when test="name != null">
                and e.name = #{name}
            </when>
            <otherwise>
                and e.name = "error"
            </otherwise>
        </choose>
        <choose>
            <when test="passwd != null">
                and e.passwd = #{passwd}
            </when>
            <otherwise>
                and e.passwd = "error"
            </otherwise>
        </choose>
    </select>

    <insert id="saveEmployee" parameterType="Employee">
        insert into employee(name, passwd, department_id, oa_position_id)
        values (
        #{name}, #{passwd},
        <if test="departmentId != null">
            #{departmentId}
        </if>
        ,
        <if test="oaPositionId != null">
            #{oaPositionId}
        </if>
        );
    </insert>
</mapper>