<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f.dao.VoucherDao">
    <select id="getAllVouchers" resultMap="getAllVouchersResult" parameterType="Map">
        select
          id, item, check_out_state_id, account
        from
          voucher
    </select>
    <resultMap id="getAllVouchersResult" type="Voucher">
        <id property="id" column="id"/>
        <result property="item" column="item"/>
        <result property="account" column="account"/>
        <result property="checkOutStateId" column="check_out_state_id"/>
        <result property="employeeId" column="employee_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <association property="voucherDetail" resultMap="voucherDetailResult"/>
    </resultMap>
    <resultMap id="voucherDetailResult" type="VoucherDetail">
        <id property="id" column="v_id"/>
        <result property="des" column="des"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getVoucherAndDetailByConditions" parameterType="map">
        select
          v.id, item, account, check_out_state_id
        from
          voucher v
        inner join employee e on v.employee_id = e.id
        where 1 = 1
        <choose>
            <when test="price != null">
                and v.account >= #{price}
            </when>
            <when test="oaPositionId != null">
                and e.oa_position_id = #{oaPositionId} and v.check_out_state_id = 1
            </when>
        </choose>
    </select>

    <select id="getVoucherById" resultMap="getAllVouchersResult" parameterType="Integer">
        select
          v.id, v.item, v.account, v.check_out_state_id, v.created_at, v.updated_at,
          vd.id v_id, vd.des
        from
          voucher v
        inner join voucher_detail vd on v.id = vd.voucher_id
        where v.id = #{id}
    </select>

    <delete id="deleteVoucherById" parameterType="Integer">
        delete from voucher where id = #{id}
    </delete>

    <select id="size" resultType="Integer">
        select count(1) from voucher
    </select>

    <insert id="saveVoucher" parameterType="Voucher" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into voucher(employee_id, item, account)
        values (#{employeeId}, #{item}, #{account})
    </insert>

    <update id="updateVoucher" parameterType="Voucher">
        update voucher
        <set>
            <if test="item != null">item = #{item},</if>
            <if test="account != null">account = #{account},</if>
            <if test="employeeId != null">employee_id = #{employeeId},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt}</if>
        </set>
        where id = #{id}
    </update>
</mapper>