<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f.dao.VoucherDetailDao">
    <insert id="saveVoucherDetail" parameterType="VoucherDetail">
        insert into voucher_detail(voucher_id, des)
        values (#{voucherId}, #{des})
    </insert>

    <delete id="deleteVoucherDetailById" parameterType="Integer">
        delete from voucher_detail where id = #{id}
    </delete>

    <delete id="deleteVoucherDetailByVoucherId" parameterType="Integer">
        delete from voucher_detail where voucher_id id = #{id}
    </delete>
</mapper>