<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f.dao.VoucherDao">
    <insert id="insert" parameterType="Voucher" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into voucher(employee_id, item, account)
        values (#{employee.id}, #{item}, #{account})
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from voucher where id = #{id}
    </delete>

    <update id="update" parameterType="Voucher">
        update voucher
        <set>
            <if test="item != null">item = #{item},</if>
            <if test="account != null">account = #{account},</if>
            <if test="checkOutStateId != null">check_out_state_id = #{checkOutStateId}</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateVoucherState">
        update voucher set state = #{state} where id = #{id};
    </update>

    <update id="updateVoucherCheckResultState">
        update
          voucher_check_result
        set
          state_id = #{state}
        where voucher_id = #{id}
    </update>

    <select id="getAll" resultMap="getAllVouchersResult" parameterType="Map">
        select
          v.id, item, check_out_state_id, account, v.created_at, v.updated_at,
          vd.id v_id, vd.des,
          vcr.id vc_id, vcr.state_id
        from
          voucher v
        left join voucher_detail vd on v.id = vd.voucher_id
        inner join voucher_check_result vcr on vcr.voucher_id = v.id
    </select>
    <resultMap id="getAllVouchersResult" type="hashmap">
        <id property="id" column="id"/>
        <result property="item" column="item"/>
        <result property="account" column="account"/>
        <result property="checkOutStateId" column="check_out_state_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <association property="voucherDetail" resultMap="voucherDetailResult"/>
        <association property="checkResult" resultMap="VoucherCheckResult"/>
    </resultMap>
    <resultMap id="voucherDetailResult" type="VoucherDetail">
        <id property="id" column="v_id"/>
        <result property="des" column="des"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <resultMap id="VoucherCheckResult" type="VoucherCheckResult">
        <id property="id" column="vc_id"/>
        <result property="whoCheckId" column="who_check_id"/>
        <result property="voucherId" column="voucher_id"/>
        <result property="stateId" column="state_id"/>
        <result property="whoCheckId" column="whoCheckId"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getVoucherAndDetailByConditions" parameterType="map" resultMap="getAllVouchersResult">
        select
        v.id, item, account, check_out_state_id,
        vcr.state_id, vcr.who_check_id
        from
        voucher v
        inner join employee e on v.employee_id = e.id
        left join voucher_check_result vcr on v.id = vcr.voucher_id
        left join voucher_detail vd on v.id = vd.voucher_id
        <where>
            <choose>
                <when test="userId != null">
                    e.id = #{userId}
                </when>
                <when test="chargeId != null">
                    vcr.state_id = 2 and v.account > 5000
                </when>
                <when test="managerId != null">
                    vcr.state_id = 2
                </when>
                <when test="financeId != null">
                    vcr.state_id = 1 and v.check_out_state_id = 2
                </when>
            </choose>
        </where>
    </select>

    <select id="get" resultMap="getAllVouchersResult">
        select
          v.id, v.item, v.account, v.check_out_state_id, v.employee_id, v.created_at, v.updated_at,
          vd.id v_id, vd.des, vd.voucher_id,
          vcr.id vc_id, vcr.state_id, vcr.who_check_id, vcr.created_at, vcr.updated_at
        from
          voucher v
        inner join voucher_check_result vcr on v.id = vcr.voucher_id
        left join voucher_detail vd on v.id = vd.voucher_id
        where v.id = #{id}
    </select>

    <select id="size" resultType="Integer">
        select count(1) from voucher
    </select>

</mapper>