<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f.dao.VoucherDetailDao">
    <insert id="insert" parameterType="VoucherDetail">
        insert into voucher_detail(voucher_id, des)
        values (#{voucherId}, #{des})
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from voucher_detail where id = #{id}
    </delete>

    <delete id="deleteVoucherDetailByVoucherId" parameterType="Integer">
        delete from voucher_detail where voucher_id = #{id}
    </delete>

    <update id="update" parameterType="VoucherDetail">
        update voucher_detail
        <set>
            <if test="des != null">
                des = #{des},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>